<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Moderation page</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.0.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/main.js"></script> <!-- Gem jQuery -->
    <script type="text/javascript" src="/search.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/5.0.2/css/bootstrap.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="/css/style.css"> <!-- Gem style -->
    <link rel="stylesheet" href="/css/pagination.css"> <!-- Gem style -->
    <script src="/js/modernizr.js"></script> <!-- Modernizr -->
    <style>
        button {
            color: #fff;
            border: 1px solid #014457;
            border-radius: 5px;
            width: 200px;
            height: 35px;
            padding-top: 0;
            text-align: center;
            vertical-align: center;
        }

        button:hover {
            background: #007598;
        }

        .default {
            background: #009898;
        }

        ul {
            list-style: none;
        }

        .btn-group-vertical {
            margin-top: 10px;
        }
    </style>


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #009898; height: 50px">
    <div class="container-fluid">
        <img alt="Logo" src="/logo.jpg" width="30" height="30">
        <a class="navbar-brand" href="/" style="color: aliceblue; font-family: Harrington; font-size: x-large"><strong>
            Авито 2.0</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBasic"
                aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse show" id="navbarBasic">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"
                       style="color: aliceblue; font-family: Harrington; font-size: large">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"
                       style="color: aliceblue; font-family: Harrington; font-size: large">Магазины</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false"
                       style="color: aliceblue; font-family: Harrington; font-size: large">Контакты</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Адреса</a></li>
                        <li><a class="dropdown-item" href="#">Телефоны</a></li>
                        <li><a class="dropdown-item" href="#">Something else</a></li>
                    </ul>
                </li>
            </ul>
            <input class="form-control me-2" input type="search" name="text" placeholder="Поиск товаров..."
                   aria-label="Поиск товаров..." id="sb" size="50" style="height: 32px">
            <button class="default" type="submit" onclick="test()" style="height: 32px; width: 80px">Найти</button>


        </div>
        <div class="text-nowrap float-end">
            <!--            Кнопка выхода и приветствие-ссылка на страницу юзера. Видны только авторизованному пользователю-->
            <ul class="px-4">
                <li th:if="${#authorization.expression('isAuthenticated()')}"
                    class="nav-item text-nowrap text-center text-white">
                    <span>Привет,&nbsp;
                    <a style="color: white; text-decoration: underline"
                       th:href="@{/user/{id}(id=${activeUser.getId()})}"><span
                            th:text="${activeUser.getUsername()}"></span>!</a>&nbsp;&nbsp;&nbsp;
                    </span>
                    <button
                            class="default text-white text-center" onclick="location.href='/logout'" type="button"
                            style="height: 32px; width: 80px">Выйти
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-2">
        <br>
        <br>

        <ul class="nav flex-column nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-shops-tab" data-toggle="pill" href="#shops-pill" role="tab"
                   aria-controls="pills-shops" aria-selected="true">Магазины <span class="badge badge-danger"
                                                                                   th:utext="${shopsForModeration.size()}"></span>
                    <span class="sr-only">непрочитанные сообщения</span></a>

            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-goods-tab" data-toggle="pill" href="#goods-pill" role="tab"
                   aria-controls="pills-goods" aria-selected="false">Товары <span class="badge badge-danger"
                                                                                  th:utext="${itemsForModeration.size()}"></span>
                    <span class="sr-only">непрочитанные сообщения</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-comments-tab" data-toggle="pill" href="#comments-pill" role="tab"
                   aria-controls="pills-comments" aria-selected="false">Отзывы <span class="badge badge-danger"
                                                                                     th:utext="${reviewsForModeration.size()}"></span>
                    <span class="sr-only">непрочитанные сообщения</span></a>
            </li>
        </ul>
    </div>

    <div class="col-md-10" style="height:100vh;background-color:#f8f8f8">

        <div class="tab-content">


            <div class="tab-pane active" id="shops-pill" role="tabpanel" aria-labelledby="pills-shops-tab">

                <div class="row">
                    <div class="col-md-4" th:each="shop : ${shopsForModeration}">
                        <div class="card text-lg-center" style="width: 18rem;">
                            <br>
                            <div class="card-body">
                                <form th:method="POST"
                                      th:action="@{/moderation/accept_shop/{id}(id=${shop.getKey().id})}">
                                    <h5 class="card-title" th:utext="${shop.getKey().name}"></h5>
                                    <img th:src="@{'data:image/jpeg;base64,'+${shop.getValue()}}"/>

                                    <br>
                                    <br>

                                    <button type="submit" id="accept-shop"
                                            class="btn btn-success">Одобрить
                                    </button>

                                </form>
                                <br>

                                <button type="button" id="decline-shop" class="btn btn-danger" data-toggle="modal"
                                        data-target="#shopModal">Отклонить
                                </button>

                                <!-- Modal Reason -->
                                <div class="modal fade" id="shopModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">

                                    <div class="d-flex justify-content-center">

                                        <form th:method="POST"
                                              th:action="@{/moderation/decline_shop/{id}(id=${shop.getKey().id})}"
                                              th:object="${reason_shop}">

                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">

                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">Причина
                                                                отказа:</label>
                                                            <input type="text" class="form-control"
                                                                   id="other-name"
                                                                   th:field="*{description}">
                                                        </div>


                                                    </div>
                                                    <div class="modal-footer">

                                                        <button type="submit" value="Save" class="btn-outline-primary">
                                                            ОК
                                                        </button>

                                                    </div>


                                                </div>


                                            </div>

                                        </form>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="tab-pane" id="goods-pill" role="tabpanel" aria-labelledby="pills-goods-tab">

                <div class="row">
                    <div class="col-md-4" th:each="item : ${itemsForModeration}">
                        <div class="card text-lg-center" style="width: 18rem;">
                            <br>
                            <div class="card-body">
                                <form th:method="POST"
                                      th:action="@{/moderation/accept_item/{id}(id=${item.getKey().id})}">
                                    <h5 class="card-title" th:utext="${item.getKey().name}"></h5>
                                    <img th:src="@{'data:image/jpeg;base64,'+${item.getValue()}}"/>

                                    <br>
                                    <br>

                                    <button type="submit" id="accept-item"
                                            class="btn btn-success">Одобрить
                                    </button>

                                </form>
                                <br>

                                <button type="button" id="decline-item" class="btn btn-danger" data-toggle="modal"
                                        data-target="#itemModal">Отклонить
                                </button>

                                <!-- Modal Reason -->
                                <div class="modal fade" id="itemModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">

                                    <div class="d-flex justify-content-center">

                                        <form th:method="POST"
                                              th:action="@{/moderation/decline_item/{id}(id=${item.getKey().id})}"
                                              th:object="${reason_item}">

                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">

                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">Причина
                                                                отказа:</label>
                                                            <input type="text" class="form-control"
                                                                   id="another-name"
                                                                   th:field="*{description}">
                                                        </div>


                                                    </div>
                                                    <div class="modal-footer">

                                                        <button type="submit" value="Save" class="btn-outline-primary">
                                                            ОК
                                                        </button>

                                                    </div>


                                                </div>


                                            </div>

                                        </form>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="tab-pane" id="comments-pill" role="tabpanel" aria-labelledby="pills-comments-tab">

                <div class="row" th:each="review : ${reviewsForModeration}">

                    <div class="col-md-8">
                        <div class="card text-lg-left" style="width: 78rem; padding: 20px 25px;">


                            <br>
                            <div class="card-body">
                                <form th:method="POST" th:action="@{/moderation/accept_review/{id}(id=${review.id})}">
                                    <h5 class="card-title" th:utext="${review.text}"></h5>

                                    <br>
                                    <br>

                                    <button type="submit" id="accept-review"
                                            class="btn btn-success">Одобрить
                                    </button>

                                </form>
                                <br>
                                <button type="button" id="decline-review" class="btn btn-danger" data-toggle="modal"
                                        data-target="#reviewModal">Отклонить
                                </button>

                                <!-- Modal Reason -->
                                <div class="modal fade" id="reviewModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">

                                    <div class="d-flex justify-content-center">

                                        <form th:method="POST"
                                              th:action="@{/moderation/decline_review/{id}(id=${review.id})}"
                                              th:object="${reason_review}">

                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">

                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">Причина
                                                                отказа:</label>
                                                            <input type="text" class="form-control"
                                                                   id="recipient-name"
                                                                   th:field="*{text}">
                                                        </div>


                                                    </div>
                                                    <div class="modal-footer">

                                                        <button type="submit" value="Save" class="btn-outline-primary">
                                                            ОК
                                                        </button>

                                                    </div>


                                                </div>


                                            </div>

                                        </form>

                                    </div>

                                </div>


                            </div>

                        </div>

                    </div>
                </div>


            </div>


        </div>

    </div>

</div>


<script src="http://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>


</body>
</html>



