<!DOCTYPE html>
<html lang="en" dir="ltr">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My profile</title>

    <script type="text/javascript" src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.0.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/main.js"></script> <!-- Gem jQuery -->
    <script src="/js/basket.js"></script>
    <script type="/text/javascript" src="/search.js"></script>
    <script type="/text/javascript" src="/js/googleAuth.js"></script>
    <script src="https://accounts.google.com/gsi/client" onload="console.log('TODO: add onload function')">
    </script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.2/css/bootstrap.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="/css/style.css"> <!-- Gem style -->
    <link rel="stylesheet" href="/css/pagination.css"> <!-- Gem style -->
    <script src="/js/modernizr.js"></script> <!-- Modernizr -->
    <style>
        button {
            color: #fff;
            border: 1px solid #014457;
            border-radius: 5px;
            width: 200px;
            height: 35px;
            padding-top: 0;
            text-align: center;
            vertical-align: center;
        }

        button:hover {
            background: #007598;
        }

        .default {
            background: #009898;
        }

        ul {
            list-style: none;
        }

        .btn-group-vertical {
            margin-top: 10px;
        }
    </style>


</head>
<body>
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <script>
        jQuery(document).ready(function($){
            onLoadBasketFill();
        })
    </script>
</div>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #009898; height: 50px; max-width: 100%">
    <div class="container-fluid">
        <img alt="Logo" src="/logo.jpg" width="30" height="30">
        <a class="navbar-brand" href="/" style="color: aliceblue; font-family: Harrington; font-size: x-large"><strong>
            Авито 2.0</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBasic"
                aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse show" id="navbarBasic">
            <ul class="navbar-nav mb-2 mb-xl-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"
                       style="color: aliceblue; font-family: Harrington; font-size: large">Главная</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" id="navbarDropdownMenuLinkShops"
                       style="color: aliceblue; font-family: Harrington; font-size: large">Магазины</a>
<!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkShops"-->
<!--                        th:each="shop : ${mainPageDto.getShopDtoList()}">-->
<!--                        <li><a class="dropdown-item" th:href="@{/shop/{id}(id=${shop.getId()})}" th:text="${shop.getName()}">Адреса</a></li>-->
<!--                    </ul>-->
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false"
                       style="color: aliceblue; font-family: Harrington; font-size: large">Контакты</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Адреса</a></li>
                        <li><a class="dropdown-item" href="#">Телефоны</a></li>
                        <li><a class="dropdown-item" href="#">Something else</a></li>
                    </ul>
                </li>
            </ul>
            <input class="form-control" input type="search" name="text" placeholder="Поиск товаров..."
                   aria-label="Поиск товаров..." id="sb" size="50" style="height: 32px; width: 500px">
            <button class="default" type="submit" onclick="test()" style="height: 32px; width: 80px">Найти</button>
        </div>

        <div class="text-nowrap float-end">
            <!--            Кнопки входа и регистрации, видны только неавторизованноым юзерам-->
            <ul th:unless="${#authorization.expression('isAuthenticated()')}" class="main-nav px-4">
                <li class="nav-item text-nowrap text-center">
                    <a class="cd-signin">Вход</a></li>
                <li class="nav-item text-nowrap text-center">
                    <a
                            class="cd-signup">Регистрация</a></li>
            </ul>
            <!--            Кнопка выхода и приветствие-ссылка на страницу юзера. Видны только авторизованному пользователю-->
            <ul class="px-4">
                <li th:if="${#authorization.expression('isAuthenticated()')}"
                    class="nav-item text-nowrap text-center text-white">
                    <span>Привет,&nbsp;
                    <a style="color: white; text-decoration: underline"
                       th:href="@{/user/{id}(id=${activeUser.getId()})}"><span class="text-capitalize"
                                                                               th:text="${activeUser.getUsername()}"></span>!</a>&nbsp;&nbsp;&nbsp;
                    </span>

                    <!--                    Корзина-->
                    <button
                            class="default text-white text-center" onload="" type="button" id="bucketButton" data-bs-toggle="modal" data-bs-target="#bucketModal"
                            style="height: 32px; width: 80px">Корзина
                    </button>
                    <div class="modal fade" id="bucketModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #009898;">
                                    <h5 class="modal-title" id="exampleModalLabel">Корзина</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <table class="table text-center align-middle">
                                        <tbody id="basketBody">

                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-bs-dismiss="modal" class="btn btn-danger col-3" onclick="clearTheBasket()">Очистить корзину</button>
                                    <button type="button" class="default col-5" onclick="location.href='basket'">Перейти в корзину</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button
                            class="default text-white text-center" onclick="location.href='/logout'" type="button"
                            style="height: 32px; width: 80px">Выйти
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">
    <!-- Левая часть -->
    <div class="col-2">
        <img th:src="@{'data:image/jpeg;base64,'+${avatarka}}" class="rounded-circle img-fluid " alt="...">
        <br><br>
        <h3><span style="..." th:text="${singleUser.firstName} +' ' + ${singleUser.lastName}">Имя Фамилия</span>
        </h3>
        <hr align="center"/>
        <br>
        <p><b>Возраст:</b>
        <td th:utext="${singleUser.age}"></td>
        </p>
        <p><b>Пол:</b>
        <td th:utext="${singleUser.gender}"></td>
        </p>
        <p><b>Страна:</b>
        <td th:utext="${singleUser.address.country}"></td>
        </p>
        <p><b>Город:</b>
        <td th:utext="${singleUser.address.city}"></td>
        </p>
        <p><b>Улица:</b>
        <td th:utext="${singleUser.address.street}"></td>
        </p>
        <p><b>Дом:</b>
        <td th:utext="${singleUser.address.house}"></td>
        </p>
        <p><b>Почта:</b>
        <td th:utext="${singleUser.email}"></td>
        </p>
        <p><b>Телефон:</b>
        <td th:utext="${singleUser.phone}"></td>
        </p>


        <hr align="center"/>
        <a href="#"><h6> Корзина</h6></a>
        <a href="#"><h6> История заказов</h6></a>
        <a href="#"><h6> Проданные товары</h6></a>

    </div>
    <!-- Средняя часть -->
    <div class="col-8">
        <!-- Вкладки навигация -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                        type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Мои заказы
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                        type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Мои магазины
                </button>
            </li>
        </ul>
        <!-- Содержимое вкладок -->
        <div class="tab-content" id="myTabContent">
            <!-- Первая вкладка -->
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                 tabindex="0">
                <!-- Панелька -->
                <div class="card" th:each="order : ${ordersUser}">
                    <div class="card-header">
                        <p th:text="'Заказ от: ' + ${order.getKey().date.toLocalDate()}"></p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"
                            th:text="'Адрес доставки: ' + 'город '+${order.getKey().address.city} + ', улица ' + ${order.getKey().address.street} + ', дом ' + ${order.getKey().address.house}"></h5>
                        <p class="card-text">Посмотреть товары:</p>
                        <!-- Таблица -->
                        <table class="table  table-hover">
                            <thead>
                            <tr class="table-primary">
                                <th>Изображение</th>
                                <th>Имя товара</th>
                                <th>Категория</th>
                                <th>Цена</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${order.getValue()}">
                                <td><img th:src="@{'data:image/jpeg;base64,'+${item.getValue()}}" width="250"
                                         height="250" class="img-thumbnail" alt="..."></td>
                                <td th:text="${item.getKey().name}"></td>
                                <td th:text="${item.getKey().category.name}"></td>
                                <td th:text="${item.getKey().price}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer" th:text="'Сумма заказа: ' + ${order.getKey().total}"></div>
                </div>
            </div>
            <!-- Вторая вкладка -->
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                 tabindex="0">
                <div class="card" style="width: 18rem;" th:each="shop : ${userShop}">
                    <img th:src="@{'data:image/jpeg;base64,'+${shop.getValue()}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${shop.getKey().name}"></h5>
                        <p class="card-text" th:text="${shop.getKey().rating}"></p>
                        <a href="#" class="btn btn-primary">Cтраница магазина</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    Правая часть-->
    <div class="col-2">
        <div class="card">
            <div class="card-body justify-content-center">
                <h5 class="card-title" style="font-weight: bold; color: dodgerblue; font-size: larger">Для бизнеса</h5>
                <p class="card-text">Продавайте товары на Авито.
                    Начать Бизнес с нами легко! </p>
                <br>
                <a href="../shop/registration" class="btn btn-primary">Зарегистрировать магазин</a>
            </div>
        </div>
    </div>
</div>
<!--</div>-->
</body>
</html>
